[submodule "PLLabel"]
	path = Label
	url = https://github.com/syallop/PLLabel
[submodule "PLPrinter"]
	path = Printer
	url = https://github.com/syallop/PLPrinter
[submodule "PLParser"]
	path = Parser
	url = https://github.com/syallop/PLParser
[submodule "PLGrammar"]
	path = Grammar
	url = https://github.com/syallop/PLGrammar
[submodule "PLLispy"]
	path = Lispy
	url = https://github.com/syallop/PLLispy
[submodule "PLCore"]
	path = Core
	url = https://github.com/syallop/PLCore
[submodule "PLRepl"]
	path = Repl
	url = https://github.com/syallop/PLRepl
[submodule "PLEditor"]
	path = Editor
	url = https://github.com/syallop/PLEditor
[submodule "Hash"]
	path = Hash
	url = https://github.com/syallop/PLHash
[submodule "Store"]
	path = Store
	url = https://github.com/syallop/PLStore
[submodule "DHT"]
	path = DHT
	url = https://github.com/syallop/DHT
[submodule "Reversible"]
	path = Reversible
	url = https://github.com/syallop/Reversible
[submodule "DSL-Compose"]
	path = DSL-Compose
	url = https://github.com/syallop/DSL-Compose
